{% extends 'base.html' %}
{% block content %}
<h1>Playlist Details</h1>

<main class="collection">
        <div class="card">
        <div class="card-content">
            <span class="card-title">{{ playlist.name }}</span>
                <p>{{ playlist.description }}</p>
                <hr>
                {% for track in playlist.tracks.all %}
                <p>{{ track.name }}</p>
                {% endfor %}
            </div>
            <hr>
            <a href="{% url 'playlist_update' playlist.id %}">Edit Playlist</a>
            <a href="{% url 'playlist_delete' playlist.id %}">Delete Playlist</a>
        </div>
        
{% endblock %}