{% extends 'base.html' %}
{% block content %}

<div class="sidenav">
    <a href="{% url 'profile' %}">Favorite Tracks</a>
    <a href="/mymusic/new">Upload</a>
    <a href="/mymusic/uploads">My Uploads</a>
    <a href="{% url 'playlist_create' %}">New Playlist</a>
</div>
<img src="../../{{ profile.image_url }}" alt="">
<h1>{{ profile.spotify_display_name }}</h1>

<main class="collection">
    {% for playlists in playlists %}
    <a href="/mymusic/{{ playlists.id }}">
        <div class="card">
        <div class="card-content">
            <span class="card-title">{{ playlists.name }}</span>
                <p>{{ playlists.profile }}</p>
                <p>{{ playlists.track }}</p>
                <p>{{ playlists.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock %}

