{% extends 'base.html' %}
{% block content %}

<img src="../../{{ profile.image_url }}" alt="">
<h1>{{ profile.spotify_display_name }}</h1>

<main class="collection">
    {% for playlist in playlists %}
    <a href="{% url 'playlist_details' playlist.id %}">
        <div class="card">
        <div class="card-content">
            <span class="card-title">{{ playlist.name }}</span>
                <p>{{ playlist.description }}</p>
                {% for track in playlist.tracks.all %}
                <p>{{ track.name }}</p>
                {% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock %}

