{% extends 'base.html' %}
{% block content %}

<div class="sidenav">
    <a href="/mymusic/favorite_tracks">Favorite Tracks</a>
    <a href="/mymusic/new">Upload</a>
    <a href="/mymusic/playlists">My Uploads</a>
</div>
<img src="../../{{ profile.image_url }}" alt="">
<h1>{{ profile.spotify_display_name }}</h1>

<main class="collection">
    {% for song in song %}
    <a href="/mymusic/{{ song.id }}">
        <div class="card">
        <div class="card-content">
            <span class="card-title">{{ song.name }}</span>
                <p>Artist: {{ song.artist }}</p>
                <p>Album: {{ song.album }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock %}

