{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Music Collection</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'discover' %}" class="breadcrumb">Discover</a></li>
        </ul>
          <ul>
              <li><a href="{% url 'profile' %}">Profile</a></li>
              </ul>
          <ul>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'home' %}" class="left brand-logo">PyTunes</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019 Music Collector &nbsp;</div>
  </footer>
</body>
</html>