{% extends 'base.html' %}
{% block content %}



{% for item in results.items %}
<p> {{item}} </p>
<hr>
<div class="card">
<div class="card-content">
    <span class="card-title">{{ results.name }}</span>
        <p>{{ item.name }}</p>
        <p>id: {{ item.album.name }}</p>
        <p>{{ item.release_date }}</p>
    </div>
</div>

{% endfor %}

{% comment %} 
{% for song in song %}
<a href="/mymusic/{{ song.id }}">
<div class="card">
<div class="card-content">
    <span class="card-title">{{ song.name }}</span>
        <p>Artist: {{ song.artist }}</p>
        <p>Album: {{ song.album }}</p>
        <p>Rating: {{ song.rating }}</p>
    </div>
</div>
</a>
{% endfor %} {% endcomment %}


{% endblock %}