{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<form action="/discover/" method="post">
        {% csrf_token %}
        <select name="type" id="type">
          <option value="artist">Artist</option>
          <option value="album">Album</option>
          <option value="track">Tracks</option>
        </select>
        <input type="text" name="query" autocomplete="off" required>
        <button type="submit">Search</button>
        </form>
{% else %}
<div id="landing">
        <h1>PyTunes</h1>
        <div class="pytuneswhite">
        <img src="static/images/pytuneswhite.png" alt="">
        </div>
        <a href="accounts/login"><div class= signin>Sign In</div></a>
        <a href="accounts/signup"><div class= signup>Sign Up</div></a>
</div>
{% endif %}
{% endblock %}
