body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    padding-top: 0;
    text-align: right;
    background-color: #d2a3ee;
}

li {
    text-decoration: none;
    list-style-type: none; 
}

nav {
    background-color: #d2a3ee;
    display: grid;
    grid-template-columns: 25vmin auto 25vmin 25vmin
}

a.left.brand-logo {
    text-decoration: none;
    display: grid;
    grid-column-start: 1;
}

a {
    text-decoration: none;
    color: white;
    
}



i.large.material-icons {
    display: inline-block;
}

i#circle.large.material-icons {
    font-size: 170px;
}

main {
    align-self: center;
}

div.signin {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
}

div.signup {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
}

div.signin:hover {
    background-color: #ba8ed3;
}

div.signup:hover {
    background-color: #ba8ed3;
}

a.add-song {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
    align-self: end;
}

div.card {
    background-color: #d2a3ee;
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 300px;
}

h1 {
    color: white;
    text-align: center;
    background-color: #d2a3ee;
}

img {
    align-self: center;
    justify-self: center;
    height: 185px;
    width: 185px;
}

a.add-song {
    justify-self: center;
    align-self: center;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
} */
>>>>>>> e6ad4f1aea5f43fd2c2dfecd8971c9fe57167055
=======
}
>>>>>>> 471bf3ff1d8da1c42e6ad53132d3a7a25272a0fa
