body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f7ffe0;
}
  
main {
    flex: 1 0 auto;
}
  
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    background-color: #d2a3ee;
}

li {
    text-decoration: none;
    list-style-type: none; 
}

nav {
    background-color: #d2a3ee;
    display: grid;
    /* grid-template-columns: 25vmin auto 25vmin 25vmin; */
    border-radius: 20px;  
}
.nav-wrapper {
    /*   background-color:black; */
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:right;
    /* padding: 10px; */
    margin: 10px;
    text-align:right;
} 
.search {
    display:grid;
    justify-content: flex-end;
}

a.left.brand-logo {
    text-decoration: none;
    display: grid;
    grid-column-start: 1;
}

a {
    text-decoration: none;
    color: white;
    
}



i.large.material-icons {
    display: inline-block;
}

i#circle.large.material-icons {
    font-size: 170px;
}

main {
    align-self: center;
}
div.discover-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* main.collection {
    background-color: #d2a3ee;
} */

audio {
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: inherit;
    align-self:center;
    height: 20px;
    width:190px;
}

div.signin {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
}

div.signup {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
}

div.signin:hover {
    background-color: #ba8ed3;
}

div.signup:hover {
    background-color: #ba8ed3;
}

a.add-song {
    background-color: #d2a3ee;
    border-radius: 25px;
    text-align: center;
    padding: 4px;
    margin: 10px;
    align-self: end;
}

div.card {
    box-shadow:5px 10px;
    text-align: center;
    margin: 80px;
    width: 200px;
    height: 200px;
    font-size:small;
}
div.card-profile {
    box-shadow:5px 10px grey;
    text-align: center;
    margin: 0px;
    width: 200px;
    height: 200px;
    font-size:large;
    background-color: darkslategrey;
}

h1 {
    color: white;
    text-align: center;
    background-color: #d2a3ee;
    border-radius: 60px;
}

img {
    align-self: center;
    justify-self: center;
    height: 185px;
    width: 185px;
}

a.add-song {
    justify-self: center;
    align-self: center;
}

div.sidenav {
    width: 130px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #d2a3ee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 130px;
  } 
  
div.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
